[Unit]
Description=Transmission BitTorrent Daemon
After=network.target Alexandria.mount
Requires=Alexandria.mount
OnFailure=status-email-user@%n.service status-send-telegram@%n.service

[Service]
User=transmission
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
